@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*font-family: 'Poppins', sans-serif;*/

body{
    background-color: #1E1D2B;
    scroll-behavior: smooth;
    font-family: 'Poppins';
    color: #fff;
}
html{scroll-behavior: smooth;
}
.container_header{
    background-color: #1f1e30;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.container_header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.container_header header .logo a{
    font-family: 'Poppins';
    font-size: 46px;
    color:#FF702A;
    text-decoration: none;

}

.container_header header ul{
    display: flex;
    list-style: none;
}

.container_header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding:3px;
    transition: .5s;
    text-decoration: none;
}
.container_header header nav ul li a:hover{
    color: #00B9C5;
}

.nav_responsive{
    color: #fff;
    background-color: orangered;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
.home{
    display:flex;
    justify-content: center;
    margin-top: 150px;
    padding: 8px;
}
.home .texto h1{
    color: #FF702A ;
    font-size: 400%;
    margin: 0;
}
.home .texto p{
    font-size: 32px;
}
.home .texto .bottom{
    margin: 10px;
    padding: 5px;
}

.home .texto .bottom a button{
    background-color: #FF702A;
    font-size: 22px;
    width: 40%;
    color: #fff;
    border:none;
    border-radius: 3px;
    transition-property: background-color,width;
    transition-duration: .3s;
}
.home .texto .bottom a button:hover{
    background-color: #00B9C5;
    width: 50%;
}
.home .contenedor_foto{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home .contenedor_foto img{
    width: 70%;
    border: 3px dashed #00B9C5;
    border-radius: 100px;
}

.about{
    display:flex;
    justify-content: center;
    margin-top: 150px;
    padding: 8px;
}
.about .texto h1{
    color: #FF702A ;
    font-size: 100%;
    margin: 0;
    font-weight: 300
}
.about .texto p{
    font-size: 32px;
    font-weight: 500;
}
.about .texto #texto1{
    font-size: 22px;
    font-weight: 200
}
.about .texto .bottom{
    margin: 10px;
    padding: 5px;
}

.about .texto .bottom a button{
    background-color: #FF702A;
    font-size: 22px;
    width: 40%;
    color: #fff;
    border:none;
    font-size: 100%;
    margin: 0;
    font-weight: 300
}
.about .texto p{
    font-size: 32px;
    font-weight: 500;
}
.about .texto #texto1{
    font-size: 22px;
    font-weight: 200
}
.about .texto .bottom{
    margin: 10px;
    padding: 5px;
}

.about .texto .bottom a button{
    background-color: #FF702A;
    font-size: 22px;
    width: 40%;
    color: #fff;
    border:none;
    border-radius: 3px;
    transition-property: background-color,width;
    transition-duration: .3s;
}
.about .texto .bottom a button:hover{
    background-color: #00B9C5;
    width: 50%;
}
.about .contenedor_foto{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .contenedor_foto img{
    width: 70%;
    border: 3px dashed #00B9C5;
    border-radius: 100px;
    margin: 5px;
}

.menu{
    margin: 160px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.menu .texto{
    display: flex;
    flex-direction: column;
    align-items: center ;
}
.menu .texto h1{
    font-weight: 400;
    color: #FF702A;
}
.menu .texto span{
    font-size: 70px;
    flex-wrap: nowrap;
}

.menu .baners{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.menu .baners .baner{
    background-color: #FFEFE8;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    padding: 10px;
}
.menu .baners .baner img{
    border: 7px solid #12B886;
    border-radius: 5px;
}
.menu .baners .baner h3{
    font-size: 22px;
    color: #000;
    margin: 0px;
}
.menu .baners .baner p{
    color: #000;
    font-size: 18px;
    margin: 0px;
}
.menu .baners .baner span{
    color: #FF702A;
}

.Service{
    margin: 5vw 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Service .texto{
    display: flex;
    flex-direction: column;
    align-items: center ;
}
.Service .texto h1{
    font-weight: 400;
    color: #FF702A;
}
.Service .texto span{
    font-size: 70px;
    flex-wrap: nowrap;
}
.Service .baners{
    margin: 10vw 10;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.Service .baners .baner{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
    padding: 3px;
}
.Service .baners .baner img{
    max-width: 50%;
}
.Service .baners .baner h3{
    font-size: 22px;
    color: #FF702A;
    margin: 0px;
}
.Service .baners .baner p{
    color: #ffffff;
    font-size: 18px;
    margin: 0px;
}
.tarjeta{
    display: flex;
    justify-content: center;
}
.tarjeta .contenedor_tarjeta{
    width: 60%;
    height: 40%;
    border: 5px solid #00B9C5;
    margin: 30px;
    padding: 15px;
    background-color: #FFEFE8;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tarjeta .contenedor_tarjeta h1{
    color: #000;
}
.tarjeta .contenedor_tarjeta a button{
    font-family: 'Sans Serif';
    width: auto;
    font-size: 20px;
    background-color: #FF702A;
    color: #fff;
    border:none;
    border-radius: 5px;
    transition-property: width,background-color;
    transition-duration:.3s;
}
.tarjeta .contenedor_tarjeta a button:hover{
    background-color: #00B9C5;
    width: 110%;
}





















































































@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav_responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #2c2015;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}